*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 8px 10px #2c2c2c ;
    z-index: 00;

   


}

.header-liniar-conteiner{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar>article{

    display: flex;
    align-items: center;
    justify-content:space-between ;
    position: relative;

}
h1{
    color: #0284ff;
}

.logo   span{
   color: #fff;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-icon-conteiner{
    display: flex;
    align-items: center;
}
.nav-icon-conteiner img{
    width: 30px;
    cursor: pointer;

}
.nav-icon-conteiner img:first-child{
    margin-right: 3rem;
}
nav ul li{
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}
nav ul li:hover{
    transform:  translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}
main{
    background-image: radial-gradient( #fff,  #7c7c7c);

}
.menu-butter{
    display: none;
}
.mennu-bottom-side{
    display: flex;
    align-items:center;
    justify-self: center;
    padding: 1rem;


}
.menu-botton-side-left{
    height: 100%;
    flex-basis: 50%;
}
.menu-botton-side-left h2{
font-size: 3.2rem;
 margin-bottom: 1.5rem;
}
.menu-botton-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.menu-botton-side-left button{
    background-color: #0284ff ;
    border: none;
    cursor: pointer;
    padding: 0.8rem  3.8rem;
    border-radius: 9999px;
    color:#fff;
    font-weight: 900;
    font-size: 0.89rem;
   
transition: 1s ;
}
.menu-botton-side-left button:hover{
    background-color: #004c94;
    
}
.menu-botton-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-botton-side-right img{
    width: 100%;
    
}

@media (max-width:800px){
    .logo{
        font-size: 1.2rem;
    }
    .menu-butter{
        display: block;

    }
   .mennu-bottom-side{
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
   }

   nav{
    position: absolute;
    background-color: #2c2c2c;
    width: 100%;
    top: 49px;
    display: none;
   }
   .show-menu nav{
  display: block;
 }
  
   nav ul{
    flex-direction: column;
   }
   nav ul li{
    text-align: center;
    padding:0.8rem;
    font-size: 1rem;

   }
}
/*main*/
.gray-background{
    background-color: #2c2c2c;
  
}
.page{
    max-width: 1280px;
    margin: 0 auto;
    
   

}

.cols{
    display: grid;
 
    justify-content: space-evenly;
    padding:  4rem 2rem;
}
.cols-3{
    grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
}
.cols-3 img{
    max-width:100%;
}
.cols-4{
   
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.cols>*{
    cursor: pointer;
  
}

.cols-4 img{
    max-width: 100%;
}
.title-section{
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
}
.underline{
    width:180px;
    height:5px;
    background-color: #0284ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;

}


.barra{
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  background-color:  white;
     border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}

  

  

  

.name{
    font-weight: 600;
    margin-top: 0.4rem;
     
    
}

.react{
    color: #004c94;
    font-size: 1.3rem;

}
.price{
    font-weight: 600;

}
.exclusive-conteiner img{
    max-width: 500px;
}

.exclusive-conteiner{
    color: #fff;
    flex-direction: row-reverse;
    padding:  5rem 1rem;

}
@media (max-width: 800px){
    .title-section{
        font-size: 1.5rem;
    }
    .cols-3{
        grid-template-columns: repeat(1, 1fr );
        max-width: 50%;
        min-width: 40%;
        margin: auto;
    }
    .cols-4{
        grid-template-columns: repeat(2, 1fr );
        max-width: 70%;
        min-width: 50%;
        margin: auto;
    }
    .name, .price, .react{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;


    }

    .exclusive-conteiner{
        flex-direction: column-reverse;

    }
    .exclusive-conteiner img{
           margin-bottom: 4rem;

    }

}
.testemunho{
    display: flex;
    padding: 4rem 3rem;
   justify-content: space-evenly;

}
.testemunhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:5%;
    flex-basis: 38%;
    text-align: center;
    box-shadow: 0 0 15px  black;
    padding: 1rem;
    border-radius: 1rem ;
     background-color: #fff
     ; cursor: pointer;

}
.testemunho p{
    margin: 5px 0;
  
}
.testemunho p:first-child{
    font-weight: solid;
    font-size: 3rem;
    color: #0284ff;
    margin-top: 3rem;
    line-height: 2rem;
}
.testemunho p:last-child{
    font-weight: bolder;

}
@media(max-width: 800px){
    .testemunho{
        flex-direction: column;
   

    }
    .testemunhos{
        margin-bottom: 3.2rem;
    }
}
.footer-content{
    display:flex;
    align-items: center;
    color: #afafaf;
    padding: 4rem 1rem;
    gap: 3rem;

}
.download-options>*{
    margin:  1rem 0;


}

.download-options>p:first-child{
    font-weight: bold;
    color: #fff;
}
.download-options>div{
    display: flex;

}
.download-options>div img{
   width: 180px;
  
}
.logo-footer{
    text-align: center;
    margin-bottom: 0.8rem;
}
.links-footer ul{
    list-style: none;
}
.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    


}
@media( max-width:900px){
    .footer-content{
        display: inline;
        font-size: 0.8rem;

    }
    .footer-content>div{
        padding: 1rem;
    }
    .download-options>div{
        display: inline;
        margin-left: 1rem;
    }
    .links-footer li{
        margin-left: 1rem;
    }
    .download-options>div img{
        width: 128px;

    }
    .copyright{
        font-size: 0.8rem;
    
    }

}

